body{
    background-color: pink;
}
.section4
{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    
}
textarea
{
    height: 20px;
    width:160px;
}
textarea:hover
{
    height:40px;
    width:180px;
}
button
{
    margin-top: 20px;
    height: 50px;
    width:100px;
    background-color:white; 
    color: black; 
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    visibility: hidden;
}
button:hover
{
    background-color:royalblue;
    color: white;
}